.header {
  &-wrapper {
    display: flex;
    align-items: center;
  }
  &-logo {
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  &-search {
    width: 600px;
    margin-left: 100px;
  }

  &-upload {
    margin-left: 50px;
  }

  &-tail {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    &__login {
      width: 100px;
    }
  }

  &-user {
    display: flex;
    justify-content: center;
    align-items: center;
    &__name {
      margin-left: 20px;
      margin-top: 5px;
      color: #000 !important;
    }
  }
}
